<div class="card-container">
  <ul>
    <% @lists.each do |list| %>
      <li class="card-category">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg" id="card-img">
      <p><%= list.name %></p>
      <%= link_to "View list", list_path(list)%><%= link_to "destroy", list_path(list), method: :delete, data: { confirm: "Are you sure you want to delete this list?" }, class: "card-btn" %>
      </li>
    <% end %>
  </ul>
</div>
<p class="btn btn-flat"> <%= link_to "Create a new list", new_list_path %></p>
